body {
    background-color: lightblue;
}

p {
    color: rebeccapurple;
    text-align: justify;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;

}

h1 {
    color: green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}