/* Element selector */
p {
    color: black;
}

/* Id selector */
#div {
    color: grey;
}

/* class selector */
.ptag {
    color: brown;
    font-size: x-large;
}

/* Universal selector */
/* * {
    background-color: aliceblue;
} */

/* Group selector */
h1,
h2 {
    color: rgb(64, 34, 94);
}

/* Attribute Selectors */
input[type="text"] {
    color: goldenrod;
}

/* margin and padding */
.container {
    border: 1px solid black;

    /* margin-top: 20px; */
    /* in order of top right bottom left */

    margin: 20px 10px 1px 2px;
    /* in order top/bottom right/left */

    /* margin: 10px 10px; */

    padding-top: 20px;
    /* same order as margin */
    padding: 20px 10px 5px 5px;
}

/* background */
/* background color */

#div {
    background-color: blue;
}

#div2 #pt {
    /* Here the */
    color: white;
    background-color: black;
}

/* background image */
body {
    background-image: url(./flower.jpg);
    background-size: cover;

    background-repeat: repeat;
    /* This is often redundant as it's the default */
    background-repeat: repeat-x;
    /* For a horizontal stripe */
    background-repeat: repeat-y;

    /* Backgruond transperncy */
    opacity: 0.5;
    background-position: right top;
    /* background-attachment: scroll; */
    /* background-clip: padding-box; */
    /* background-clip: border-box; */
    /* background-clip: content-box;*/
}

.First {
    border: 2px solid black;
    background-color: yellow !important;
}

.SEC {
    background-color: green;
}

p {
    background-color: aliceblue;
    /* border: 5px solid black; */
    border-radius: 5px;
}

.outline {
    outline: 2px solid navy;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}